body {
    color: black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 30px;
    text-align:left;
    background-color: black;
    color: rgba(226, 255, 8, 0.961);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.6em;
}

header {
    background-color: black;
}

.main_nav>ul {
    display: flex;
    justify-content: space-around;
    background-color: rgb(28, 26, 26);
    padding-top: 0.9em;
    padding-bottom: 0.9em;

}

.main_nav>ul>li {
    list-style: none;
}

.main_nav>ul>li>a {
    text-decoration: none;
    color: white;
    padding: 0.5em;

}

#main_div>img>img {
    display: flex;
    justify-content: space-around;
    background-color: black;
} 

.images {
    background-color: black;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 1em;
}

.designer_nav>ul {
    display: flex;
    justify-content: space-around;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.designer_nav2>ul>li {
    list-style: none;
}

.designer_nav2>ul>li>a {
    text-decoration: none;
    color: black;
    padding: 0.5em;

}

.designer_nav2>ul {
    display: flex;
    justify-content: space-around;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.designer_nav>ul>li {
    list-style: none;
}

.designer_nav>ul>li>a {
    text-decoration: none;
    color: black;
    padding: 0.5em;

}

.contact__form {
    text-align: left;
    size: 100px;
}

.sign__up {
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

button {
    background-color: whitesmoke;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 1000;
    padding: 15px 32px;
    border: none;
  font-size: 14px;
  font-weight: 400;
  transition-duration: 0.3s;
  font-weight: bold;
}

button:hover {
        background-color: rgba(226, 255, 8, 0.961);
        color: black
      }

footer {
    background-color: rgba(226, 255, 8, 0.961);
    padding-left: 2%;
    padding-right: 30%;
    margin-top: 1%;
  display: flexbox; 
  text-align: center;
  align-items: center; 
  height: 45px;
}

.footer__left {
    text-align: left;
    font-size: 10px;
}

.footer__right {
    text-align: left;
    font-size: 9px;
}


